doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Bikes - Custom Object Table
        a(href="http://localhost:3000/update-cobj") Add/update this table
        table.basic-table
            thead
                tr
                    each header in ['Bike name', 'Brand', 'Frame size']
                        th= header
            tbody
                each bike in data
                    tr
                        td= bike.properties.bike_name
                        td= bike.properties.brand
                        td= bike.properties.frame_size